.invert_btn {
    width: 8vh;
    height: calc(8vh - 0.5rem);
    margin: auto;
    border-radius: 25%;
    border: none;
    font-size: 1.5rem;
    background-color: #FA6900;
    color: white;
    cursor: pointer;
    box-shadow: 3px 3px 2px 1px #803e00;
}

.invert_btn:active {
    border: 1px solid black;
    background-color: #F38630;
}