.operator_btn {
    width: 8vh;
    height: calc(8vh - 0.5rem);
    margin: auto;
    border-radius: 25%;
    border: none;
    font-size: 1.5rem;
    background-color: #FA6900;
    color: white;
    cursor: pointer;
}

.operator_btn:focus, .cancel_btn:focus {
    outline: none;
}

.operator_btn:active {
    border: 1px solid black;
    background-color: #F38630;
}

.cancel_btn {
    width: 8vh;
    height: calc(8vh - 0.5rem);
    margin: auto;
    border-radius: 25%;
    border: none;
    font-size: 1.5rem;
    background-color: #c94730;
    color: white;
    cursor: pointer;
}

.cancel_btn:active {
    background-color: #db381b;
    border: 1px solid black
}