.operator_btn {
    width: 8vh;
    height: calc(8vh - 0.5rem);
    margin: auto;
    border-radius: 25%;
    border: none;
    font-size: 1.5rem;
    background-color: #FA6900;
    color: white;
    cursor: pointer;
}

.operator_btn:focus, .cancel_btn:focus {
    outline: none;
}

.cancel_btn {
    width: 8vh;
    height: calc(8vh - 0.5rem);
    margin: auto;
    border-radius: 25%;
    border: none;
    font-size: 1.5rem;
    background-color: rgb(201, 71, 48);
    color: white;
    cursor: pointer;
}