.operator_btn {
    width: 8vh;
    height: calc(8vh - 0.5rem);
    margin: auto;
    border-radius: 25%;
    border: none;
    font-size: 1.5rem;
    background-color: #758381;
    color: white;
    cursor: pointer;
    box-shadow: 3px 3px 2px 1px #818686;
}

.operator_btn:focus, .cancel_btn:focus {
    outline: none;
}

.operator_btn:active {
    box-shadow: none;
    outline: none;
    background-color: #EB904A;
}

.cancel_btn {
    width: 8vh;
    height: calc(8vh - 0.5rem);
    margin: auto;
    border-radius: 25%;
    border: none;
    font-size: 1.5rem;
    background-color: #c94730;
    color: white;
    cursor: pointer;
    box-shadow: 3px 3px 2px 1px #a71010;
}

.cancel_btn:active {
    background-color: #db381b;
    box-shadow: none;
    outline: none;
}