.screen {
    width: 85%;
    height: 8vh;
    margin: auto;
    background-color: #000000cc;
    border: 1px solid #A7DBD8;
    color: #FFE774;
    text-align: end;
    font-size: 1.5rem;
    padding: 0.5rem;
}