.screen {
    width: 55vh;
    height: 8vh;
    margin: auto;
    background-color: #000000cc;
    border: 1px solid #A7DBD8;
    color: #FFE774;
    margin-top: 0;
    margin-bottom: 0.7rem;
    text-align: end;
    font-size: 1.5rem;
    padding: 0.5rem;
}

@media (max-aspect-ratio: 4/7) {
    .screen {
        width: 50vh;
        height: 8vh;
        margin: auto;
        background-color: #000000cc;
        border: 1px solid #A7DBD8;
        color: #FFE774;
        margin-top: 0;
        margin-bottom: 0.7rem;
        text-align: end;
        font-size: 1.5rem;
        padding: 0.5rem;
    }
}

@media (max-width: 320px) {
    .screen {
        width: 50vh;
        height: 8vh;
        margin: auto;
        background-color: #000000cc;
        border: 1px solid #A7DBD8;
        color: #FFE774;
        margin-top: 0;
        margin-bottom: 0.7rem;
        text-align: end;
        font-size: 1.3rem;
        padding: 0.5rem;
    }
}