.calculator_container {
    height: 82vh;
    width: 58vh;
    border: 1px solid black;
    margin: auto;
    margin-top: 10vh;
    background-color: #ffffff;
}

.panels_container {
    margin-top: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (max-aspect-ratio: 4/7) {
    .calculator_container {
        height: 82vh;
        width: 55vh;
        border: 1px solid black;
        margin-top: 10vh;
        background-color: #ffffff;
    }
}

@media (max-aspect-ratio: 4/8) {
    .calculator_container {
        height: 82vh;
        width: 50vh;
        border: 1px solid black;
        margin-top: 10vh;
        background-color: #ffffff;
    }
}

@media (max-width: 320px) {
    .calculator_container {
        height: 90vh;
        width: 58vh;
        border: 1px solid black;
        margin-top: 10vh;
        background-color: #ffffff;
    }
}