h2 {
    background-color: #337974;
    color: white;
    padding: 0.3rem;
    margin-bottom: 0.5rem;
}

@media (max-width: 320px) {
    h2 {
        background-color: #337974;
        color: white;
        padding: 0.3rem;
        margin-bottom: 0.5rem;
        font-size: 1rem;
    }
}