.number_btn {
    display: inline-block;
    width: calc(14vh - 0.5rem);
    height: calc(14vh - 0.5rem);
    margin: auto;
    border-radius: 25%;
    border: none;
    font-size: 2rem;
    background-color: #cbcfcd;
    cursor: pointer;
    box-shadow: 3px 3px 2px 1px #d6d3d3;
}

.number_btn:focus {
    border: none;
    outline: none;
}

.number_btn:active {
    box-shadow: none;
    background-color: #5ebdb6;
}

@media (max-aspect-ratio: 4/7) {
    .number_btn {
        display: inline-block;
        width: calc(12vh - 0.5rem);
        height: calc(12vh - 0.5rem);
        margin: auto;
        border-radius: 25%;
        border: none;
        font-size: 1.5rem;
        background-color: #cbcfcd;
        box-shadow: 3px 3px 2px 1px #d6d3d3;
        cursor: pointer;
    }
}

@media (max-aspect-ratio: 4/8) {
    .number_btn {
        display: inline-block;
        width: calc(11vh - 0.5rem);
        height: calc(11vh - 0.5rem);
        margin: auto;
        border-radius: 25%;
        border: none;
        font-size: 1.5rem;
        background-color: #cbcfcd;
        box-shadow: 3px 3px 2px 1px #d6d3d3;
        cursor: pointer;
    }
}

@media (max-width: 320px) {
    .number_btn {
        display: inline-block;
        width: calc(12vh - 0.5rem);
        height: calc(12vh - 0.5rem);
        margin: auto;
        border-radius: 25%;
        border: none;
        font-size: 1.5rem;
        background-color: #cbcfcd;
        box-shadow: 3px 3px 2px 1px #d6d3d3;
        cursor: pointer;
    }
}