.numbers_panel_container {
    display: flex;
    flex-wrap: wrap;
    width: 42vh;
    height: 56vh;
    margin-left: 0.3rem;
    background-color: #E0E4CC;
}

@media (max-aspect-ratio: 4/7) {
    .numbers_panel_container {
        display: flex;
        flex-wrap: wrap;
        width: 36vh;
        height: 56vh;
        margin-left: 2rem;
        background-color: #E0E4CC;
    }
}

@media (max-aspect-ratio: 4/8) {
    .numbers_panel_container {
        display: flex;
        flex-wrap: wrap;
        width: 33vh;
        height: 56vh;
        margin-left: 2rem;
        background-color: #E0E4CC;
    }
}